## Numbers and Boolean Values

Create a variable equal to "True".

In [1]:
variable = "True"

Check its type.

In [2]:
print(type(variable))

<class 'str'>

Create a variable equal to 99.

In [4]:
variable_number = 99

Check its type.

In [5]:
print (type(variable_number))

<class 'int'>

Check the type of the value 0.99.

In [6]:
value = 0.99

In [7]:
print (type(value))

<class 'float'>

Turn 99 into a *float*.

In [8]:
float = float(variable_number)

In [9]:
print (float)

99.0

Turn 0.99 into an integer. What value did you get?

In [11]:
integer = int(value)

In [12]:
print(integer)

0